title = "Фотогаларея курса фотографий"
url = "/galleries-photo/:slug"
layout = "default-blog"
is_hidden = 0
==
<?php
function onStart() {
		
		$slug = str_replace('.html', '', $this->param('slug'));
		// $slug	= $this->param( 'slug' );		
		$blog	= \Maxon\Uhd\Models\Blog::where( 'slug', $slug )->with('specs','galleries')->first();

		if ( !$blog ) {
			$this->setStatusCode( 404 );
			return $this->controller->run( '404' );
		}

		$this->page->meta_title	= $blog->meta_title;
		$this->page->meta_description	= $blog->meta_description;
		$this->page->meta_keywords	= $blog->meta_keywords;
		$this->page->name	= "Из жизни учебного центра. Блог";
		$this->page->image	= $blog->image;		
		$this[ 'blog' ]		= $blog;		
		
	}
?>
==
<div class="navi">
<a href="/">Главная страница</a> &nbsp;»&nbsp;<a href="{{ 'blogs/list' | page() }}/">Из жизни учебного центра. Блог</a>
</div>

<h1>{{ blog.name }}</h1>
<div class="hh1"></div>

{% if blog.video %}
<!-- видео-->
<div align="center">
<div class="video2">{{ blog.video|raw }}</div>
</div>
{% else %}

{% if blog.images == "[]" %}
	{% if blog.works == "[]" %}
		{% if blog.galleries == "[]" %}		
			{% if blog.medias == "[]" %}
			{% if blog.videoslider %}
				{%else%}
					<div align="center">					
						<div class="imgm"><img width="700" src="{{blog.image.getThumb( 720, 'auto' ) }}"></div>
					</div>	
				{% endif%}
			{% endif %}		
		{% endif %}
	{% endif %}		
{% endif %}
{% endif %}

{% if blog.images == "[]" %}
{% else %}
{% partial 'galleries' gallery=blog type="compact" %}<br />
{% endif %}	

{% if blog.medias.count > 1 %}
{% partial 'slider' item=blog.medias %}
{% else %}
{% for media in blog.medias %}
{% if media.video == "[]" %}
{% else %}
<div class="video2" align="center"><div class="videoWrapper">{{ media.video|raw }}</div></div>
{% endif %}
{% endfor %}
{% endif %}

{% if blog.videoslider %}
{% partial 'slider' item=blog.videoslider %}
{% endif%}


{% for work in blog.works %}
<!-- дипломные фото работы слушателей-->
{% if work.images == "[]" %}{% else %}{% partial 'galleries' gallery=work type="compact" %}{% endif %}
<div class="clear"></div>
{% endfor %}

{% for work in blog.works %}
<!-- дипломные видео работы слушателей-->
{% if work.video %}<div align="center"><div class="videoWrapper"><div class="video2">{{ work.video|raw }}</div></div></div>{% endif %}
{% endfor %}

{% for gallery in blog.galleries %}
<!-- фотогалерея-->
{% if gallery.images == "[]" %}{% else %}{% partial 'galleries' gallery=gallery type="compact" %}{% endif %}
<div class="clear"></div>
{% endfor %}

<br>
<div class="nach black">{{ blog.content|raw }}{%if blog.embersoc %}{{ blog.embersoc|raw }}{% endif %}</div>
<br>

{% for media in blog.medias %}
{% if media.files == "[]"%}
{% else %}
<script src="{{ 'assets/js/player/playerjs.js?ver=5.2'|theme }}" type="text/javascript"></script>  
<div id="player" style="height:300px;"></div>
<script>  
  var player = new Playerjs({
   id:"player",
   file:[{% for file in media.files %}{"title":"{{file.file_name}}","file":"{{file.path}}"}{% if loop.last %}{% else %}, {% endif %}{% endfor %}]
});
</script>
{% endif %}
<div class="clear"></div>
{% endfor %}


<div class="prof bg02">
{% for lector in blog.lectors %}
     {% partial 'list/lectors' item=lector catalog="lectors" %}
{% endfor %}
<br>
</div>

{% if blog.specs.count > "1" %}
<div class="line-h2"><h2>Событие относится к специальностям:</h2></div>
{% else %}
<div class="line-h2"><h2>Событие относится к специальности:</h2></div>
{% endif %}

{% if blog.specs.count < "3" %}
<div class="prof bg01">
{% for spec in blog.specs %}
     {% partial 'list/specs' spec=spec %}
{% endfor %}
</div>
{% else %}
<div class="prof bg01">
<table class="kratko" cellspacing="0">
{% for spec2 in blog.specs %}  
  <tr>
    <td width="70px"><img src="{{spec2.image.getThumb( 60, 'auto' ) }}" title="{{ spec2.name }}" alt="{{ spec2.name }}" width="60px"></td>
    <td width="90px" class="show">    
      <span class="{% if spec2.category.slug == "intensiv" %}srok-green{% else %}srok{% endif %}"><strong>{% for srok in spec2.kurs_srok %}{{srok.number}}{% endfor %} мес</strong></span>      
    </td>
    <td width="120px" class="show">
      {% if spec2.category.slug == "intensiv" %}<span class="srok-green">{{ spec2.category.name }}</span> {% else %} <span class="srok">{{ spec2.category.name }}</span>{% endif %}
    </td>    
    <td class="td-3"><a rel="canonical" href="{{ 'specs/item' | page({ slug : spec2.slug }) }}{{this.theme.suffix}}" >{{spec2.name}}</a>

    </td>
  </tr>
  <tr>
          <td colspan="4" class="border-bottom"></td>
  </tr>
          <tr>
          <td colspan="4" class="border-top"></td>
        </tr>
{% endfor %}
        </table>
</div>
{% endif %}