title = "Прямая трансляция"
url = "/pg/about.html"
layout = "default"

==
<?php

function onStart() {

    $this[ 'otzyv' ]		= \Maxon\Uhd\Models\Spec::with([
      'medias' =>function($q){
				$q->isPublished()->orderBy('id', 'desc')->whereIn( 'mediacategory_id', [20])->take(8);
			}
		])->first();

		$this->page->meta_description	= "";
		$this->page->meta_keywords	= "";
		$this->page->name	= "Об учебном центре кино и телевидения UHD (ЮЭйчДи)";
    }
?>
==
<div class="navi">
<a href="/">Главная страница</a> &nbsp;»&nbsp;<a href="/pg/"></a>
</div>

<div class="line-spec"><h1>Об учебном центре UHD (ЮЭйчДи)</h1></div>
  <br>
<p style="text-align: center;"><strong>ООО «Учебный центр ЮэйчДи» </strong><strong>ОГРН 1147748150461, ИНН 7722312690 </strong></p>
<p style="text-align: center;"><strong>Учебный центр кино и телевидения UHD</strong></p>
<p style="text-align: center;"><strong>располагается в Москве в шаговой доступности от метро Шаболовская</strong></p>
<p>&nbsp;</p>
<p class="video2" align="center"><iframe src="https://vk.com/video_ext.php?oid=-85156958&id=456241071&hash=680d8b6fce0c026b" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe></p>
<p>&nbsp;</p>
<p style="text-align:justify">В настоящее время «Учебный центр ЮЭйчДи» («Учебный центр кино и телевидения UHD») является самостоятельным юридическим лицом со своей образовательной лицензией № 037705 от 20 июля 2016 г. </p>
<p style="text-align:justify">Учебный центр создан с целью подготовки качественных профессиональных, компетентных кадров в индустрии кино и телевидения. Обучение проводится по следующим  <a href="/section/">основным специальностям</a>:</p>
<ol>
    <li>«Телевизионная журналистика. Мастерство ведения телепрограмм» (журналист-телеведущий);</li>
    <li>«Редакторское мастерство кино и телепроектов» (кастинг-редактор, райтер-редактор, шеф-редактор);</li>
    <li>«Сценарист кино, телепрограмм и телепроектов» (сценарист телепрограмм, сценарист в кино);</li>
    <li>«Мастерство режиссера кино и телепроектов» (режиссер телевидения, режиссер кино);</li>
    <li>«Продюсирование кино и телепроектов»;</li>
    <li>«Режиссура монтажа кино и телепроектов»;</li>
    <li>«Звукорежиссура кино и телевидения»;</li>
    <li>«Операторское мастерство кино и телевидения»;</li>
    <li>«Закадровое озвучивание и дубляж»;</li>
    <li>«Художник-гример кино и телевидения»;</li>
    <li>«Мастерство фотохудожника».</li>
</ol>
<p>Дополнительно проводится обучение по узкоспециализированным <a href="/intensiv/">интенсивным курсам</a>:</p>
<ol>
    <li>«<a href="/section/svedenie-i-mastering.html">Звукорежиссура. Сведение и мастеринг</a>»;</li>
    <li>«<a href="https://kurs.uhdtv.ru/actor" rel="nofollow">Интенсивный курс по актерскому мастерству. Подготовка для поступления в театральные ВУЗы</a>»;</li>
    <li>«<a href="http://kurs.uhdtv.ru/reporter" rel="nofollow" target="_blank">Стрингер. Внештатный независимый репортёр (блогер)</a>»;</li>
    <li>«<a href="https://kurs.uhdtv.ru/actordubl" rel="nofollow" target="_blank">Закадровое озвучивание и дубляж. Интенсив (3 месяца)</a>».</li>

</ol>
<p>В нашем учебном заведении <a href="/prepodavateli/">высококвалифицированные преподаватели</a> передают учащимся свой практический опыт работы, накопленный в процессе работы на телевизионных каналах и проектах, съемочных площадках, театрах и ведущих радиостанциях, а также делятся секретами мастерства.</p>
<p>Главным принципом Учебного центра кино и телевидения UHD является тесная связь теоретических знаний с практическими профессиональными навыками и умениями, которые приобретают наши слушатели в процессе обучения. Стоит отметить, что, помимо всех традиций старой доброй школы телевидения, наш Учебный центр внёс в процесс подготовки будущих телевизионщиков и киношников перечень современных образовательных методик, опираясь на изменения, преобразования и требования в телевизионном мире и киноиндустрии.  Это позволяет студентам, обучающимся в Учебном центре UHD, получить более качественную теоретическую базу и основательную практическую подготовку. Студенты в буквальном смысле погружаются в изучаемую профессию, чтобы получить необходимые навыки и опыт на практике, для того, чтобы успешно закончить обучение отлично подготовленными специалистами.</p>
<p>Для углублённого понимания и изучения нашими учащимися всего лекционного материала, в Учебном центре организована и ведётся видеозапись (трансляция) всех теоретических занятий, которая в дальнейшем размещается в личных кабинетах каждого слушателя для просмотра. Учебная телевизионная студия центра UHD имеет необходимое телевизионное техническое оборудование и аппаратуру. В связи с этим преимущество и основной упор делается на практические занятия, начиная с 3-его месяца обучения.</p>
<p>На базе специально оборудованных студий проводится имитация прямых и записных эфиров, а также съёмка телепроектов различных форматов, начиная от новостных сюжетов, пилотных студийных телепередач и заканчивая короткометражными постановочными фильмами (сериалами), клипами.</p>
<p>Кроме того, слушатели для подготовки сюжетов, имеют возможность безвозмездно пользоваться учебным съёмочным оборудованием. Практические занятия в учебных звукостудиях под руководством профессиональных преподавателей позволяют получить бесценный опыт работы с микрофоном и специальной звукоаппаратурой.</p>
<p>Студия грима отвечает всем необходимым требованиям для практических занятий художников-гримеров. Косметические средства, принадлежности и продукция, а также расходные материалы, манекены для причёсок и аксессуары – всем этим набором располагает наша учебная студия грима.</p>
<p>Монтажный класс позволяет разместить оборудование для практических занятий, а также располагает возможностью монтировать одновременно несколько проектов.</p>
<p>Благодаря хорошо оборудованной базе наши выпускники преимущественно конкурентоспособны среди выпускников других учебных заведений подобного формата, потому что не понаслышке знают практическую составляющую «телевизионной кухни».</p>
<p>Более того, с целью ознакомления и максимального углубления слушателей в специальность, периодически в процессе обучения проводятся мастер-классы. Их проводят известные режиссёры, тележурналисты, звукорежиссёры с опытом работы на главных государственных мероприятиях и концертных площадках, известные телеведущие, операторы, удостоенные высоких профессиональных или государственных наград. В ходе таких встреч с известными медийными личностями слушатели узнают не только секреты профессионального мастерства, но и получают возможность погрузиться в специфику различных телевизионных профессий с максимальной пользой.</p>
<p>Главной оценкой нашего учебного заведения по многим критериям, на наш взгляд, являются очевидные отзывы наших выпускников, которые прошли обучение на курсах, а также их родителей и наших преподавателей. Отзывы об обучении на курсах в Учебном центре кино и телевидения UHD представлены ниже на странице.</p>
<p>Узнать подробнее об истории создания нашего учебного заведения можно в <a href="/newspaper/">газете учебного центра кино и телевидения</a>.</p>

  <div align ="center">
  <iframe src="https://yandex.ru/sprav/widget/rating-badge/71308730475" width="150" height="50" frameborder="0"></iframe>
  <p></p>
  </div>

{% for otzyv in otzyv.medias %}{% if loop.index == 1 %}
<div class="line-doc"><a href="{{ 'media/item' | page({ slug : otzyv.mediacategory.slug }) }}/">{{otzyv.mediacategory.name}}</a></div>
{% endif %}{% endfor %}
<br>

<div class="video-list">
    {% for otzyv in otzyv.medias %}
        {% partial 'list/media' item=otzyv mediacategory=otzyv.mediacategory catalog="media" %}
    {% endfor %}
</div>
<div class="clear"></div>
