title = "Форма обратной  связи"
url = "/pg/priem.html"
layout = "default"

==
<?php

function onStart() {

    	$this->page->meta_title	= "Учебный центр кино и телевидения UHD";
		$this->page->meta_description	= "";
		$this->page->meta_keywords	= "";
		$this->page->name	= "Приёмная комиссия (идёт приём на обучение 2022/2023)";
		$this[ 'specs' ]	= \Maxon\Uhd\Models\Spec::IsPublished()->orderBy('name', 'ASC')->paginate(100);
	}
?>
==

<div class="navi">
<a href="/">Главная страница</a> &nbsp;»&nbsp;<a href="/pg/"></a>
</div>

<div class="nach" align="center"><strong>На консультацию и оформление документов можно записаться по телефону: <br>+7 (499) <span class="col1">653</span>-60-<span class="col1">90</span></strong> <br>
Начало обучения по основным курсам - 05 сентября 2022 г.<br>
По курсам «Художник-гримёр» и «Фотохудожник» - с 03 октября 2022 г.
</div>
<!-- <div class="address-in" style="padding: 30px;" align="center"><strong class="zagl">Дни открытых дверей! Мастер-классы!</strong>
<p><strong>С 20 по 24 июля 2020 года</strong></p>
<p><a href="/nodmk/" class="button style1"><strong>Посмотреть расписание</strong></a></p>
</div> -->
<h2>Время работы приёмной комиссии:</h2>
<ul>
    <li>Приём звонков: с 12:00 до 22:00, понедельник-пятница.</li>
    <li>Оформление документов: с 15:00 до 21:00, понедельник-пятница.</li>
</ul>
<h2>Адрес приёмной комиссии:</h2>
<ul>
    <li>Москва, Ленинский проспект, д.15, 1-й подъезд, 3-й этаж (учебная часть).</li>
    <li>Удаленно, в режиме онлайн.</li>
</ul>
<h2>Мы принимаем на обучение слушателей:</h2>
<ul>
    <li>с начальным профессиональным образованием;</li>
    <li>с незаконченным высшим образованием;</li>
    <li>средним (полным) общим образованием (9-11 классов).</li>
    <li>студентов всех курсов Вузов;</li>
    <li>средним профессиональным образованием;</li>
    <li>высшим образованием;</li>
    <li>завершающих обучение по программам   среднего профессионального (СПО);</li>
    <li>завершающих обучение по программам высшего профессионального образования   (ВПО).</li>
</ul>
<h2>Документы, необходимые для поступления:</h2>
<ul>
    <li>Паспорт;</li>
    <li>Три фотографии 3 x 4 (цветных или черно-белых);</li>
    <li>Документ об образовании или его копию (на русском языке), либо справка образовательной организации об обучении.</li>
</ul>
<h2><strong>Документы для лиц, получивших образование за рубежом:</strong></h2>
<ul>
    <li>Заверенная копия документа об образовании - нотариально заверенный перевод;</li>
    <li>Паспорт иностранного образца - нотариально заверенный перевод паспорта.</li>
</ul>
<h2>Перевод  слушателей</h2>
<ul>
    <li>Допускается перевод слушателей из других организаций дополнительного профессионального образования с зачётом пройденных дисциплин, обсуждается индивидуально.</li>
</ul>
<h2>Личный кабинет</h2>
<p>Занятия и лекции записываются на видеокамеру. Каждому слушателю  заводится личный кабинет с логином и паролем для доступа к просмотру  информации и записанных видеолекций.​​​​</p>
<h2>Практические работы</h2>
<p>За время обучения в Учебном центре студенты выполняют много промежуточных работ и ближе к концу обучения, две основные работы, одна из которых – курсовая работа, другая – дипломная работа. Например, студенты по специальности мастерство видеооператора выполняют съёмку документального фильма, новостных сюжетов, для видео блога, короткого метра.</p>
<h2>Итоговые документы после обучения</h2>
<p><span style="font-weight:bold"><span style="text-decoration:underline">Диплом</span></span> - Согласно диплому о профессиональной переподготовке, полученная дополнительная специальность становится равноправной со специальностью, которая была получена ранее в техникуме или ВУЗе. Выдаётся прошедшим полный (основной) курс</p>
<p><span style="font-weight:bold"><span style="text-decoration:underline">Свидетельство о дополнительном образовании</span></span> является документом о подтверждении специальных знаний или специальной подготовки и выдаётся прошедшим полный (основной) курс не имеющим высшего (ВПО) или среднего (СПО) образования</p>
<p><u><strong>Сертификат</strong></u> выдаётся после прохождения коротких курсов.</p>
<p>&nbsp;</p>

<h2>Стоимость обучения в учебном центре (в месяц), без дополнительных скидок</h2>
<div class="final">


<table width="100%" cellspacing="10" border="0">
{% for item in specs %}
{% if item.category.id =="1" %}
{% for priems in item.setting_view %}{% if priems.priem =="1" %}
{% else %}
<tr><td>
<img src="{{item.image.getThumb( 120, 'crop' ) }}" title="{{ item.name }}" alt="{{ item.name }}" width="120" align="left">
</td>
<td><a href="{{ 'specs/item' | page({ slug : item.slug }) }}.html">{{ item.name }}</a></td>
<td>{{ item.price }} руб.</td>
</tr>
{% endif %}{% endfor %}
{% endif %}
{% endfor %}
</table>
</div>
<div class="clear"></div>
