{% if breadcrumbs %}
<div class="breadcrumbs shadow shadow--lg">
  <div class="breadcrumbs__inner" aria-label="Breadcrumb">
    <div class="breadcrumbs__title container">
      {{ this.page.title }}
    </div>
    <ol class="breadcrumbs__list container">
      <li class="breadcrumbs__list-item">
        <a href="{{ this.page.url == '/' ? '#' : '/' }}"
          class="breadcrumbs__link {{ breadcrumb.isActive ? 'breadcrumbs__link--active' : '' }}">
          {% partial 'common/icon' class="breadcrumbs__icon" icon="home" %}
          Главная
        </a>
      </li>
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumbs__list-item">
        <a href="/{{ breadcrumb.url }}"
          class="breadcrumbs__link {{ breadcrumb.isActive ? 'breadcrumbs__link--active' : '' }}">
          {% partial 'common/icon' class="breadcrumbs__icon rotate rotate--90" icon="chevron" %}
          {{ breadcrumb.title }}
        </a>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endif %}