<footer class="footer container v-gap v-gap--top--md">
  <div class="footer__inner">
    <div class="row gap gap--row--md gap--col--md">
  
      <div class="row__col row__col--sm--12 row__col--md--6 row__col--lg--4 row__col--2xl--3">
        <div class="foooter__title">
          <a 
            href="{{ this.page.url == '/' ? '#' : '/' }}"
            class="footer__logo"
          >
            UHDTV
          </a>
        </div>
        <div class="typography footer__content">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque tempora magnam enim quo nihil fugit doloremque nam illo. Architecto placeat temporibus provident maxime id minima quam est nisi facere et.</p>
        </div>
      </div>
  
      <div class="row__col row__col--sm--6 row__col--md--6 row__col--lg--2 row__col--2xl--3">
        <div class="footer__title">
          Меню
        </div>
        <div class="footer__content">
          {% component 'footerMenu' %}
        </div>
      </div>
  
      <div class="row__col row__col--sm--6 row__col--md--6 row__col--lg--2 row__col--2xl--3">
        <div class="footer__title">
          Полезные ссылки
        </div>
        <div class="footer__content">
          {% component 'footerMenu' %}
        </div>
      </div>
  
      <div class="row__col row__col--sm--12 row__col--md--6 row__col--lg--4 row__col--2xl--3">
        <div class="footer__title">
          Контакты
        </div>
        <div class="footer__content">
          <ul>
            <li>
              {% partial 'components/button/_' 
                data={
                  type: "a", 
                  href: "#",
                  text: "Москва, Ленинский проспект, дом 15", 
                  has_icon: true,
                  icon: "location",
                  className: "button--text--left"
                }
              %}
            </li>
            <li>
              {% partial 'components/button/_' 
                data={
                  type: "a", 
                  href: "tel:+74996536090",
                  text: "+7 (499) 653-60-90", 
                  has_icon: true,
                  icon: "phone",
                  className: "button--text--left"
                }
              %}
            </li>
            <li>
              {% partial 'components/button/_' 
                data={
                  type: "a", 
                  href: "mailto:edu@uhdtv.ru",
                  text: "edu@uhdtv.ru", 
                  has_icon: true,
                  icon: "mail",
                  className: "button--text--left"
                }
              %}
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>
  <div class="footer__bottom-area row row--between gap gap--sm">
    <div class="row__col row__col--sm--12 row__col--md--7 row__col--lg--8 row__col--2xl--8">
      <p>Образовательная лицензия: № 037705 от 20 июля 2016 г. выдана Департаментом образования г. Москвы</p>
    </div>
    <div class="row__col row__col--sm--12 row__col--md--5 row__col--lg--4 row__col--2xl--4">
      <a class="footer__link" href="https://www.uhdtv.ru/pg/polzovatelsvoe-soglashenie.html">  
        Политика конфиденциальности
      </a>
      <a class="footer__link" href="{{ 'site-map' | page() }}">Карта сайта</a>
    </div>
  </div>
</footer>