<header class="header">
  <nav class="header__navbar navbar shadow shadow--md">
    <div class="navbar__inner container">
      <a 
        class="navbar__toggler toggler"
        href="{{ 'service/site-map' | page() }}"
        type="button"
        aria-controls="navbarSupportedContentY"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="toggler__title">Меню</span>
        <span class="toggler__icon"></span>
      </a>
      <a 
        href="{{ this.page.url == '/' ? '#' : '/' }}"
        class="header__logo"
      >
        UHDTV
      </a>
      {% component 'mainMenu' %}
    </div>
  </nav>

</header>