title = "Список новостей"
url = "/annonce"
layout = "default"
meta_title = "Анонсы мероприятий учебного центра UHD (ЮэйчДи)"
meta_description = "Анонсы мероприятий учебного центра кино и телевидения UHD"
==
<?php

function onStart() {
        $this[ 'annonces' ] = \Maxon\Uhd\Models\Annonce::IsPublished()->orderBy('offpublished_at', 'asc')->paginate(20);			
		$this->page->name	= "События учебного центра. Анонсы мероприятий";        	
    }
?>
==

{% if annonces.count == "0" %}
    
  <div class="nach black">
    <p>В ближайшие дни никаких мероприятий не ожидается. Работает приемная комиссия. Оформить документы на обучение можно с понедельника по пятницу с 15.00 до 21.00. <a href="https://www.uhdtv.ru/kontakt/">Оставить заявку на обучение</a></p>
  </div>
{% else %}

<div class="nach black">
  <p>Приглашаем новых студентов на неделю открытых дверей. С 16 по 21 апреля 2022 года мы рады видеть всех желающих в
    стенах нашего учебного центра. Эти дни всегда наполнены творчеством и необычными возможностями, оценить которые
    можно только при посещении нашего заведения.</p>

  <p>В рамках недели открытых дверей предусмотрены мероприятия:</p>

  <p>Знакомство с Мастерами УЦ UHD и особенностями обучения по различными теле-и кино специальностям, открытые
    творческие зачёты студентов, бесплатные мастер-классы и профессиональные практикумы в теле- и звукостудиях</p>

  <p>
    <br>
  </p>
</div>
<br>

{% for annonce in annonces %}
{% partial 'list/blogs' item=annonce catalog="annonces" date="1" spec="1" %}
{% endfor %}

{% endif %}

{# partial 'pagination' items=annonces #}