{% for item in items %}
    {% if not item.viewBag.isHidden %}
    <li class="nav-item {{ item.items ? 'dropdown relative' : '' }}">
        {% partial __SELF__ ~ "::link" item=item %}
        {% if item.items %}
        <ul
            class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 m-0 bg-clip-padding border-none"
            aria-labelledby="dropdownMenuButton{{ loop.index }}"
        >
            {% partial __SELF__ ~ "::items" items=item.items %}
        </ul>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}