<a 
    class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out {{ item.isActive ? 'text-blue-600' : '' }} {{ item.items ? 'dropdown-toggle' : '' }}" 
    href="{{ item.url }}" 
    data-mdb-ripple="true" 
    data-mdb-ripple-color="light"
    {% if item.items %}
        type="button"
        id="dropdownMenuButton{{ loop.index }}"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    {% endif %}
>
    {{ item.title }}
    {% if item.items %} 
        {% partial 'common/icon' class="w-4 h-4 inline-block stroke-current fill-transparent rotate-180" icon="chevron" %}
    {% endif %}
</a>