title = "Дисциплина"
url = "/:slug/"
layout = "default-detail"

==
<?php
function onStart() {
  	$slug		    = $this->param( 'slug' );
		$school	= \Maxon\Uhd\Models\School::where( 'slug', $slug )->with([
      'specs'=>function($q)
      {$q->IsPublished();},
      'specs.works'=>function($q)
     {$q->isPublished()->orderBy('id', 'desc')->distinct()->groupBy('id')->take(8);},
      'specs.blogs' =>function($q)
      {$q->isPublished()->orderBy('id', 'desc')->distinct()->groupBy('id')->take(8);}
    ])->first();

    if ( !$school ) {
			$this->setStatusCode( 404 );
			return $this->controller->run( '404' );
    }

    $this[ 'actors' ]		= $school->where( 'slug', $slug )->with([
      'specs.medias' =>function($q){
				$q->isPublished()->orderBy('id', 'desc')->where( 'mediacategory_id','=', [1])->take(8);
			}
		])->first();

    $this[ 'golos' ]		= $school->where( 'slug', $slug )->with([
      'specs.medias' =>function($q){
        $q->isPublished()->whereIn( 'mediacategory_id', [24])->inRandomOrder()->limit(8);
			}
		])->first();

    $this[ 'news' ]	= \Maxon\Uhd\Models\Blog::isPublished()->orderBy('id', 'desc')->take(8)->get();
    $this[ 'workvideos' ]	= \Maxon\Uhd\Models\Work::isPublished()->orderBy('id', 'desc')->where( 'category_id','=', [1])->take(8)->get();
    $this[ 'otzyv' ]		= \Maxon\Uhd\Models\Media::isPublished()->orderBy('id', 'desc')->whereIn( 'mediacategory_id', [20])->take(4)->get();

       $this[ 'mediacategory' ]	 = \Maxon\Uhd\Models\Mediacategory::orderBy('name', 'asc')->get();

 //dump($school->toArray());
 // dump($workcategory->toArray());

		$this->page->meta_title	= $school->meta_title;
		$this->page->meta_description	= $school->meta_description;
    $this->page->meta_keywords	= $school->meta_keywords;
    $this->page->name	= $school->name;
		$this->page->image	= $school->image;

    $this[ 'school' ]	          = $school;

  }
// <a href="{{ 'blogs/item' | page({spec: blog.specs[0].slug, slug : blog.slug }) }}">- {{ blog.name }}</a></li>
?>
==

{% if this.theme.reklama %}
{% if this.theme.reklama_link %}
<a href="{{ this.theme.reklama_link }}"><img src="{{this.theme.reklama.path}}" width="100%"></a>
<br><br>
{% else %}
<img src="{{this.theme.reklama.path}}" width="100%">
<br><br>
{% endif %}
{% endif %}


{% if school.id == '5' %}
<div class="address-in bg01" style="padding: 30px;" align="center">
<p class="green"><strong class="zagl">Ограниченное предложение:</strong></p>
<p><strong class="zagl">Интенсивный курс актёр дубляжа!</strong></p>
<p><strong>Срок обучения 3 месяца! Идёт набор!</strong><br />
<strong><a href="https://kurs.uhdtv.ru/actordubl" target="_blank">Ознакомиться подробнее и записаться</a></strong></p>
<img src="{{ 'assets/images/img-reklama/actor-dubl.jpg'|theme }}" alt="" width="100%" /></div>
<p>&nbsp;</p>
<br>
{% endif %}


{{ school.content|raw }}

{% for spec in school.edus %}
{% partial 'list/specs' spec=spec %}
{% endfor %}

{% for spec in school.specs %}
     {% partial 'list/specs' spec=spec %}
{% endfor %}

<div class="clear"></div>

{% if school.diploms == '[]' %}
{% else %}
<div class="line-doc">Документы которые Вы получаете после успешного окончания наших курсов</div>
<br>
{% if school.diploms.count > 2 %}<div class="docum-list">{% else %}<div class="docum-list-2">{% endif %}
{% for spec in school.diploms %}
{% partial 'list/docs' item=spec %}
{% endfor %}
</div>
<div class="clear"></div>
<br>
{% endif %}





{% if school.id == 1 %}
<div class="line-spec"><a href="/works/">Дипломные видео-аудио работы слушателей</a></div>
<br>
{% else %}

{% for edu in school.specs %}
{% for work in edu.works %}
{% if loop.index == 1 %}
 <div class="line-spec"><a rel="canonical" href="{{ 'works/item' | page({ slug : work.category.slug }) }}/">{{work.category.name}}</a></div>
 <br>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if school.id == 5 %}
<div class="nach black">
<div class="line-doc">Творческий итоговый экзамен</div>
<br>
<div class="video2" align="center">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/XALdTQhJpDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
{% endif %}



<div class="video-list">
{% for edu in school.specs %}
      {% for work in edu.works %}
          {% partial 'list/works' work=work workcategory=work.category %}
      {% endfor %}
{% endfor %}
  </div>
<div class="clear"></div>

{% for setting in school.setting_view %}
{% if setting.type == "work" %}

<div class="line-doc"><a href="/media-uhd-school/otzyvy/">Отзывы об Учебном центре UHD</a></div>
<br>

<div class="video-list">
      {% for media in otzyv %}
          {% partial 'list/media' item=media catalog="media" %}
      {% endfor %}
  </div>
<div class="clear"></div>


<div class="line-spec"><a href="/works/">Дипломные видео-аудио работы слушателей</a></div>
<br>
<div class="video-list">
      {% for work in workvideos %}
          {% partial 'list/works' work=work workcategory=work.category %}
      {% endfor %}
  </div>
<div class="clear"></div>

{% endif %}
{% endfor %}


{% for setting in school.setting_view %}
{% if setting.type == "media" %}

{% for media in mediacategory %}
{% if media.id == setting.id %}
{% if school.id == "8" %}<br>
{% else %}
 <div class="line-spec"><a href="{{ 'media/item' | page({ slug : media.slug }) }}/">{{media.name}}</a></div>
 <br>
 <div class="clear"></div>
{% endif %}
{% endif %}
{% endfor %}
<div class="video-list">
{% for actor in actors.specs %}
{% for media in actor.medias %}
{% partial 'list/media' item=media catalog="media" %}
{% endfor %}
{% endfor %}
</div>
<div class="clear"></div>

{% endif %}
{% endfor %}

{% for voice in golos.specs %}{% if voice.id == 11 %}{% for category in mediacategory %}{% if category.id == "24" %}
<div class="line-spec"><a href="{{ 'media/item' | page({ slug : category.slug }) }}/">{{category.name}}</a></div><br>
{% endif %}{% endfor %}{% endif %}{% endfor %}

<div class="video-list">
{% for voice in golos.specs %}
{% for media in voice.medias %}
{% partial 'list/media' item=media catalog="media" %}
{% endfor %}
{% endfor %}
</div>
<div class="clear"></div>



<div class="line-doc"><a href="/blog/">Новости учебного центра</a></div>
<br>
{% if spec.news_view or school.news_view == "1" %}

<div class="blog-list">
{% for new in news %}
{% partial 'list/newsin' blog=new catalog="blogs" %}
{% endfor %}
</div>
{% else %}

<div class="blog-list">
{% for blog in spec.blogs %}
{% partial 'list/newsin' blog=blog catalog="blogs" %}
{% endfor %}

{% if school.news_view == "1" %}

  {% for blog in news %}
  {% partial 'list/newsin' blog=blog catalog="blogs" %}
  {% endfor %}

{% else %}

  {% for news in school.specs %}
  {% for blog in news.blogs %}
  {% partial 'list/newsin' blog=blog catalog="blogs" %}
  {% endfor %}
  {% endfor %}

{% endif %}

</div>
{% endif %}

<br>
{% if school.id == '5' %}

<div style="padding: 5px 0 15px 0;">
  <h2>Закадровое озвучивание и дубляж</h2>
Телевидение — это огромный механизм, в котором работают специалисты разных TV-профессий. Отдельная роль отводится людям, работающим с закадром, озвучивающим мультфильмы, компьютерные игры, аниме, аудиокниги, кинофильмы, сериалы, документалистику, рекламные ролики и другие проекты. Этим занимаются дикторы, актеры озвучивания и дубляжа. Иногда для этой работы приглашают певцов и телеведущих — людей, которые профессионально владеют своим голосом, навыком чтения с листа, умеют логически выстраивать текст, а также правильно интонационно подать чувства и эмоции персонажей.<br>
На сегодняшний день, чтобы принимать участие в закадровом озвучивании и дубляже различных теле- и кино-проектов можно пройти основной 12-месячный курс в школе дубляжа на базе УЦ кино и телевидения на Шаболовке. Ещё есть возможность ускориться и пройти интенсивный курс – это значит, что всего за 3 месяца можно приобрести навыки работы по специальности “Актёр закадрового озвучивания и дубляжа” и заняться любимым делом – озвучиванием.<br>
В процессе обучения ты максимально получишь профессиональные навыки и практический опыт в дубляже зарубежного кино, мультфильмов, аудиоспектаклей, радиопостановок, рекламных роликов и т.д. Научишься вживаться в роль разных персонажей, передавать их чувства и эмоции, настроение и характер. И главное – подарить им свой голос.<br>
Данная профессия довольно востребована, так как с каждым годом в прокате появляется множество новых телевизионных проектов. Новые яркие голоса требуются постоянно. Поэтому стать профессионалом в сфере озвучивания и дубляжа — это возможность получить интересную, перспективную и хорошо оплачиваемую профессию.<br>
</div>

{% endif %}

{% if school.id == '1' %}

<div style="padding: 5px 0 15px 0;">
Съемочная площадка или аппаратная телестудии – это твоя мечта? У тебя есть оригинальные идеи, которые требуют воплощения?  Хочешь менять киноиндустрию и развивать кинематограф, а, может, делать крутой телеэфир? Значит, ты видишь себя режиссером кассовых киношедевров или выпускающим режиссером рейтинговой программы, которая взрывает эфир? Воплоти свою мечту в реальность! Пройди обучение в школе кино и телевидения UHD.<br>
Уже с 5 сентября стартует обучение будущих специалистов в сфере кино и телевидения 2022-2023. Длительность курса — 12 месяцев. Занятия будут проходить с 19:00 до 22:00, что позволит осваивать новую профессию без отрыва от работы или от обучения (если ты еще школьник). Да-да, ты можешь получить востребованную, перспективную профессию еще до получения аттестата. Ведь Школа кино и телевидения на Шаболовке принимает слушателей с 16-ти лет. Первый шаг к мечте тобой будет сделан! <br>
Группа формируется до 12 человек, что позволяет максимально уделить внимание каждому студенту. Подготовку проводят профессиональные и действующие медийные актеры, режиссеры, продюсеры кино и телевидения. Кроме теоретических знаний, учебный центр UHD делает ставку на практические занятия, погружая студентов в условия, максимально приближенные к съемкам в телестудиях и съемочным площадкам! Настоящая работа в команде! Более того, каждый самостоятельно работает со съемочным оборудованием, так, как ты работал бы на телеканале или в съемочном павильоне. <br>
Пройдя обучение и успешную защиту итоговых аттестационных работ, ты получишь документы об образовании: диплом о профессиональной переподготовке или свидетельство о дополнительном образовании, которые являются официальными документами. Ты станешь обладателем яркого набора портфолио для потенциальных работодателей, а также колоссального и бесценного опыта работы в профессиональной среде. Минимум – соберешь свою профессиональную команду для воплощения своей мечты и дальнейшего творчества! Максимум – снимешь фильм и сможешь участвовать в международных кинофестивалях различных форматов!<br>
Не упусти свой шанс! Звони и приходи в Учебный центр кино и телевидения UHD на Шаболовской уже сегодня. Выбор за тобой!<br>
</div>

{% endif %}

{% if school.id == '3' %}

<div style="padding: 5px 0 15px 0;">
  <h2>Звукорежиссура кино и телевидения</h2>
В музыкальных кругах принято, что умение правильно слышать – это дар! А создать композицию, которую будут слушать миллионы — это навык, приобретенный опыт и талант. В Школе звукорежиссуры проводится набор на 2021-2022 год по специальностям:<br>
<ul>
  <li>Звукорежиссура кино и телевидения.</li>
  <li>Сведение и мастеринг.</li>
</ul>
Если ты готов освоить мастерство звукорежиссеры, получить навыки, практический опыт в этой профессии и уверенно идти к своей цели, звони по указанным телефонам и подавай заявку на обучение.<br>
Срок обучения на основном курсе звукорежиссуры – 12 месяцев, по 3-5 занятий в неделю в вечернее время (с 19:00 до 22:00). В процессе обучения помимо теории, без которой – никуда, ты получишь практические навыки работы с микрофонами, петличками, микшерным пультом. Научишься работать с такими программами как:  Cubase,  Logic,  Pro Tools REAPER,  Reason  - для записи и обработки звука в разных условиях и форматах. Используешь полученные знания на практике и создашь свое уникальное портфолио, которое обязательно поможет тебе найти работу мечты. Более того, практические занятия в звукостудии «Музотдел на Сретенке», в Государственном Кремлевском дворце – главной площадке страны, профессиональной звукостудии Осинского и профессиональной студии озвучивания «Синелаб» заставят тебя погрузиться во все разделы звукорежиссуры, оценить и понять, в какой именно ты видишь себя!<br>
Занятия по звукорежиссуре “Сведение и мастеринг” представляют собой интенсивный курс продолжительностью 3 месяца, занятия которого проходят 3 раза в неделю с 15:00 до 18:00. За период обучения ты научишься: процессу записи, микширования записанных дорожек и созданию из них законченного трека с собственным оригинальным звучанием, а также всем новомодным «фишкам», доводя звучание микса до нужного уровня с расстановкой правильных акцентов и эффектов.<br>
Получишь знания от преподавателей-звукорежиссеров и саунд продюсеров. Большим преимуществом курсов в Школе звукорежиссуры есть возможность обучения онлайн. Это позволяет получить образование в сфере звукорежиссуры всем желающим жителям России.<br>
Хочешь научиться создавать мировые хиты, или улучшить свои навыки? Стань лучшим профессионалом своего дела вместе с Учебным Центром кино и телевидения UHD на Шаболовке!<br>
</div>

{% endif %}

{% if school.id == '7' %}

<div style="padding: 5px 0 15px 0;">
  <h2>Мастерство фотохудожника</h2>
В настоящее время нельзя представить нашу жизнь без фотографии. Фотоснимки различных событий и мероприятий, селфи, художественные портреты — повсюду: от глянцевых модных журналов до рекламных масштабных билбордов, от фотографий в собственном телефоне и соцсетях до художественных международных выставок в мире фотоискусства. Фотография проникла в жизнь каждого человека. Поэтому специальность профессионального фотохудожника так популярна и актуальна на сегодняшний день.<br>
Для того, чтобы создавать качественные фотографии и выделяться среди множества конкурентов, необходимы не только профессионализм и опыт, но и свой оригинальный стиль и эксклюзивные приёмы, высший пилотаж – найти так называемую «руку мастера», которую невозможно перепутать. Главное не просто сделать качественный снимок, а вдохнуть неповторимое мгновение жизни в фотографию. Всему этому ты научишься в фотошколе УЦ кино и телевидения UHD на курсе “Мастерство Фотохудожника”. <br>
За 9 месяцев ты научишься студийной и натурной съемке, аквасъемке, съемке с животными, работе с фотооборудованием, работе со светом и фильтрами, сможешь самостоятельно готовить моделей к съемке, даже знать, как правильно наносить мейкап для фотосессии.  Ты будешь разбираться во всех жанрах в фотоискусстве, создавать фотографии и получать экспертную оценку от действующих преподавателей-фотографов, добившихся успехов в профессии и международного признания.<br>
Учебная программа составлена по принципу современных веяний фотоиндустрии, запросов работодателей и заказчиков.<br>
Пройдя обучение, у тебя в наличии будет яркое, профессиональное портфолио, которое поможет тебе быстро найти работу и зарекомендовать себя профессионалом, участвовать в выставках и фотопроектах, продолжить свое развитие в увлекательном мире фотографии.<br>
</div>

{% endif %}

{% if school.id == '8' %}

<div style="padding: 5px 0 15px 0;">
  <h2>Художник-гример кино и телевидения</h2>
Художник-гример кино и телевидения профессионально владеет искусством грима, визажа, макияжа и мастерством создания причесок, т.е полностью созданием требуемого образа. Гример может создать образ актера с помощью обычных средств для макияжа, сделав акценты на лице, а может наложить многослойный грим, применяя ряд спецэффектов.  Художник по гриму может “нарисовать” новое лицо актеру, добиться сходства с реальным героем, изменить возраст персонажа, выделить его темперамент, добавить характер и настроение. В общем, изменить человека до неузнаваемости.<br>
Художник-гример не просто накладывает грим. Он полностью придумывает образ под выделенную роль и несет ответственность за то, как персонаж будет смотреться в кадре или на театральных подмостках. Для этого сначала изучается сценарий и роль артистов в нем, а затем разрабатывается концепция. Гример совместно с режиссером подбирают и согласуют все детали образа. Но на этом работа гримера не заканчивается. На протяжении съемочного процесса он контролирует, чтобы грим держался и максимально выполнял свою функцию.<br>
В Школе Грима УЦ кино и телевидения UHD за 12 месяцев обучения ты освоишь эту перспективную и креативную профессию “Художник-гримёр кино и телевидения”. За весь период обучения ты получишь не только теоретические знания, но практические навыки в области грима и мейкапа. И, безусловно, главное преимущество курса – его насыщенная практическая часть под чутким руководством практикующих художников по гриму на теле-и кино-площадках, дизайнеров-стилистов международных ассоциаций а также официальных визажистов-стилистов международных лейблов.<br>
Ты получишь необходимые навыки профессии художника-гримера: от визажиста до скульптора. Обучение не из легких. Но оно того стоит! В итоге ты получишь перспективную, креативную, хорошо оплачиваемую и востребованную профессию.<br>

</div>

{% endif %}
</div>
<div class="clear"></div>
