description = "Шаблон по умолчанию"

[staticMenu mainMenu]
code = "main-menu"

[staticMenu footerMenu]
code = "footer-menu"

[staticBreadcrumbs]

[staticPage]
useContent = 0
default = 0
==
<?php
function onStart() {
  $theme_colors = array();
  $colors = $this->theme->colors;
  if (isset($this->theme->colors)) {
    foreach ($colors as $key => $color) {
        list($r, $g, $b) = sscanf($color, "#%02x%02x%02x");
        $theme_colors += [ $key => "$r $g $b"];
    }
    $this['theme_colors'] = $theme_colors;
  }
}
?>
==
{variable 
  name="onHideBreadcrumbs"
  tab="Контент страницы"
  label="Скрыть хлебные крошки"
  type="switch"
  default=0
  span="full"
}
{/variable}
{variable 
  name="pageContent" 
  tab="Контент страницы"
  label="Контент страницы"
  type="repeater"
  displayMode="builder"
  prompt="Добавить компонент"
  style="collapsed"
  span="full"
  groups="~/themes/uhdtv/partials/components/config.yaml"
}
{/variable}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% partial 'common/head' %}
</head>
  <body 
    class="page"
  >
    {{ this.theme.include_body_begin }}
    {% partial 'common/header' %}

  {% if staticPage.page.viewBag.onHideBreadcrumbs != '1' and onHideBreadcrumbs != '1' %}
    {% partial 'common/breadcrumbs' %}
  {% endif %}

  <main class="page__content">
    {% page %}
    {% for block in pageContent %}
      {% partial 'components/' ~ block._group ~ '/_' data=block.content %}
    {% endfor %}
  </main>    
    
    {% partial 'common/footer' %}
    
    {% partial 'common/scripts' %}
    {{ this.theme.include_body_end }}
  </body>
</html>
{% endapply %}