<section class="grid grid-cols-12">
  <picture
    class="col-start-1 col-end-13 row-start-1 row-end-1"
  >
    <img 
      class="w-full h-full object-cover"
      src="{{ data.image | media }}" 
      alt=""
    >
  </picture>
  <div class="col-start-1 col-end-13 row-start-1 row-end-1 self-center container pt-16 pb-20 z-10">
    <div 
      class="
        prose 
        prose-headings:text-5xl 
        prose-headings:text-blue-400 
        prose-headings:font-sans
        prose-headings:font-medium 
        prose-headings:leading-tight 
        prose-headings:tracking-wide 
        prose-headings:mb-20
        prose-p:text-lg
        prose-p:text-black
        prose-p:font-sans
        prose-p:font-normal
        prose-p:mt-2
        ml-auto
      "
    >
      {{ data.description | raw }}
      {% partial "components/button/_" 
        tagName="a"
        className="bg-blue-500 text-white rounded-md py-1 px-4"
        body
      %}
        More
      {% endpartial %}
    </div>
  </div>
</section>