<div class="banner v-gap {% for style in data.style_settings %} {{ style | join(' ') }} {% endfor %}">
  <picture
    class="banner__picture"
  >
    <img 
      class="banner__img"
      src="{{ imagePath | default(data.image['path'] | media) }}" 
      width="{{ imageWidth | default(data.image['width']) }}"
      height="{{ imageHeight | default(data.image['height']) }}"
      alt="{{ imageCaption | default(data.image['caption']) }}"
    >
  </picture>
  <div class="banner__inner">
    <div class="banner__content typography">
      {{ data.description | raw }}
      {% partial "components/button/_" 
        tagName="a"
        className=""
        body
      %}
      {% endpartial %}
    </div>
  </div>
</div>