.carousel__pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(54);
  list-style: none;
      
  // .carousel__pagination-bullet

  &-bullet {
    display: inline-block;
    width: rem(12);
    height: rem(12);
    margin: rem(2);
    cursor: pointer;
    background-color: var(--black);
    border-radius: rem(100);

    &+& {
      margin-left: rem(10);
    }

    // .carousel__pagination-bullet--state--active

    &--state--active {
      background-color: var(--clrTheme);    
    }
  }
}
