<article class="card v-gap {{ data.card_type }} {{ data.text_align_type }} {{ data.has_header ? 'card--has--header' : '' }} {% for style in data.style_settings %} {{ style | join(' ') }} {% endfor %}">
  {% if data.has_image %}
  <picture
    class="card__picture"
  >
    <img 
      class="card__img" 
      src="{{ data.image['path'] | media }}" 
      width="{{ data.image['width']}}"
      height="{{ data.image['height']}}"
      alt="{{ data.image['alt']}}"
    />
  </picture>
  {% endif %}

  {% if data.has_header %}
  <header class="card__header">
    <p>{{ data.header_text }}</p>
  </header>
  {% endif %}

  {% if data.has_description %}
  <div class="card__content">
    <div class="typography">
      {{ data.description | raw }}
    </div>
    {% endif %}
    {% if data.has_button %}
      {% 
        partial "components/button/_"  
        data=data.button
      %}
    </div>
  {% endif %}


  {% if data.has_footer %}
  <footer class="card__footer">
    <p>{{ data.footer_text }}</p>
  </footer>
  {% endif %}
</article>