.post {
  font-family: map-get($fonts, sans);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(35);
  background-color: rgb(var(--white) / 1);
  
  @media screen and (min-width: map-get($screens, lg)) {
    flex-direction: row;
    align-items: center;
  }

  // .post__date

  &__date {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(var(--clrTheme) / 1);
    margin: rem(15);
    width: 130px;
    height: 130px;
  }

  // .post__date-day

  &__date-day {
    display: block;
    font-size: rem(48);
    font-weight: 700;
    color: rgb(var(--clrTheme) / 1);
    margin-bottom: rem(1);
    line-height: 1;
  }

  // .post__date-month

  &__date-month {
    display: block;
    font-size: rem(16);
    font-weight: 700;
    color: rgb(var(--clrTheme) / 1);
  }

  // .post__content

  &__content {
    flex-grow: 1;
    margin: rem(15);
  }

  // .post__name

  &__name {
    font-size: rem(22);
    font-weight: 700;
    line-height: 1.5;
    color: rgb(var(--clrHeadings) / 1);

    &:visited {
      color: rgb(var(--clrVisited) / 1);
    }

    &:hover {
      color: rgb(var(--clrHover) / 1);
    }
    
    &:focus-visible {
      @extend %focus;
    }
  }

  // .post__description

  &__description {
    font-size: rem(14);
    font-weight: 600;
    margin-top: rem(20);
    margin-bottom: rem(12);
    color: rgb(var(--clrText) / 1);
    line-height: 1.5;
  }

  // .post__picture

  &__picture {
    flex: 0 0 33.333333%;
    width: calc(100% - rem(15) * 2);
    margin: rem(15);
  }

  // .post__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
