<div class="table">
  <div class="table__inner">
    <table>
      {% if hasHead | default(false) %}
      <thead>
        <tr>
          {% for heading in table_headings %}
            <th>{{ heading.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}
      <tbody>
        {% for row in table_rows %}
        <tr>
          {% for data in table_data %}
            <td>{{ data | raw }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>