.table {
  position: relative;
  border-radius: var(--roundedSize);
  overflow: auto;
  background-color: rgb(var(--clrText) / 0.1);

  &__inner {
    margin: rem(32) 0;
    box-shadow: var(--boxShadow);
  }

  &__title {
    padding: rem(16) rem(16) 0 rem(32);
    margin: 0;
    font-family: map-get($fonts, sans);
    font-weight: 600;
    color: rgb(var(--clrHeading)/1);
  }

  table {
    font-size: rem(14);
    line-height: rem(18);
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
  }

  thead {

  }

  tr {

  }

  th {
    font-weight: 500;
    border-bottom: 1px;
    padding: 0 rem(16) rem(12) rem(32);
    color: rgb(var(--clrHeadings) / 1);
    text-align: left;
  }
  
  td {
    position: relative;
    border-bottom: 1px;
    border-color: rgb(var(--clrText) / 0.5);
    color: rgb(var(--clrText) / 1);
    padding: rem(16) rem(16) rem(16) rem(32);
    box-sizing: content-box;
    vertical-align: middle;
  }

  tbody {
    background: rgb(var(--white) / 1);
  }

  img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: calc(100% - rem(16));
    height: calc(100% - rem(16));
    margin-top: 0;
    margin-bottom: 0;
    transform: translate3d(rem(8), rem(8), 0);
  }
}

