.breadcrumbs {
  // margin: rem(24);

  &__title {
    display: flex;
    flex-direction: column;
    padding-top: rem(20);   
    padding-bottom: rem(20);
    font-family: map-get($fonts, sans);
    font-weight: 700;
    font-size: rem(32);
    color: rgb(var(--clrHeadings) / 1);
    background-color: rgb(var(--clrTheme) / .2);
    line-height: 1.25;
  }

  &__inner {
    // background: rgb(var(--clrTheme) / 0.5);
    border-radius: var(--roundedSize);
  }

  &__list {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(var(--secondary) / 0.1);
    padding-top: rem(8);
    padding-bottom: rem(8);
    gap: rem(8);
    border-radius: var(--roundedSize);
  }

  &__list-item {
    display: inline-flex;
    align-items: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-family: map-get($fonts, sans);
    font-size: rem(14);
    font-weight: 500;
    color: rgb(var(--clrText) / 1);
    cursor: pointer;

    &:hover {
      color: rgb(var(--clrTheme) / 1);
    }

    &:focus-visible {
      @extend %focus;
    }

    &--active {
      color: rgb(var(--clrTheme) / 1);
      cursor: default;
    }
  }

  &__icon {
    width: rem(16);
    height: rem(16);
    margin-right: rem(8);
    fill: transparent;
    stroke-width: 2;
    stroke: rgb(var(--clrText) / 1);
  }
}