==
<?php
function onStart() {
  $description = '
    <h4>Контакты организаторов</h4>    
    <hr>
    <a href="tel:+84959607226">8-495-960-7226</a>
    <br>
    <a href="mailto:internetgolos@yandex.ru" target="_blank">
      internetgolos@yandex.ru
    </a>
    <br>
    105118, г. Москва, шоссе Энтузиастов,
    <br>
    д. 34, этаж 1, пом. I, ком. 37, оф. У95
  ';

  $this->page['description'] = $description;
}
?>
==
<section class="pt-12">
  <div class="relative">
    {{ data.map | raw }}
    <div class="md:absolute inset-0 container">
      <div class="prose max-w-none md:w-1/3 xl:w-1/4 h-full bg-white px-6 py-10 md:border-x-2 md:border-clr-cta">
        {{ data.description | raw }}
      </div>
    </div>
  </div>
</section>
